body {
    height: 100%;
    overflow-y: scroll;
}

.all {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    position: relative;
    width: 100%;
    align-items: center;
}

/* Elements CSS Header */
.part-1 {
    display: flex;
    height: 80px;
    width: 70%;
}

/* Logo du site */
.logo {
    display: flex;
    position: relative;
    align-items: center;
    border: 1px solid red;
    min-width: 25%;
}

.logo-click {
    position: absolute;
    left: 10%;
    top: 30%;
}

/* Barre de recherche */
.search-bar {
    display: flex;
    position: relative;
    align-items: center;
    border: 1px solid green;
    min-width: 50%;
}

.search-bar-in {
    position: absolute;
    left: 30%;
}


/* Boutons de connexions / inscription */
.buttons {
    display: flex;
    position: relative;
    align-items: center;
    border: 1px solid blue;
    min-width: 25%;
}